<div class="clearfix">
    <div class="pull-left select-block">
        <!--<select ng-change="vm.changeWeek()"-->
                <!--ng-model="vm.selectedWeek"-->
                <!--class="charts-select weekly-select form-control"-->
                <!--ng-options="week.number as week.label for week in vm.weekList">-->
        <!--</select>-->

        <ui-select
                search-enabled="false"
                ng-change="vm.changeWeek()"
                ng-model="vm.selectedWeek">
            <ui-select-match>
                <span > {{$select.selected.label}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in vm.weekList">
                <span ng-bind="item.label"></span>
            </ui-select-choices>
        </ui-select>

    </div>
    <div  class="pull-right select-block">
        <!--<select class="charts-select weekly-select form-control"-->
                <!--ng-options="month for month in vm.monthLabels"-->
                <!--ng-model="vm.selectedMonth"-->
                <!--ng-change="vm.changeMonth()" orderBy="-month">-->
        <!--</select>-->

        <ui-select
                search-enabled="false"
                ng-model="vm.selectedMonth"
                ng-change="vm.changeMonth()">
            <ui-select-match>
                <span > {{$select.selected}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in vm.monthLabels">
                <span ng-bind="item"></span>
            </ui-select-choices>
        </ui-select>

    </div>
</div>
