<md-dialog class="privacy-popup">
    <div>
        <div class="popup-box">
            <!--header ---------------------------------------------->
            <div class="popup-box__header">
                <div class="popup-box__header-title">
                    Privacy Policy
                </div>
                <span class="popup-box__header-close">
                         <!--<i ng-click="vm.close()"-->
                            <!--class="glyphicon glyphicon-remove">-->
                         <!--</i>-->
                    </span>
            </div>
            <!--content --------------------------------------------->
            <div class="popup-box__divider"></div>
            <div class="popup-box__content">
                <div ng-bind-html="vm.privacy"></div>
            </div>
            <!--control ---------------------------------------------->
            <div class="popup-box__divider"></div>
            <div class="popup-box__control clearfix">
                <button class="default-button pull-right"
                        ng-click="vm.agree(true)">
                    Agree
                </button>
                <button class="default-button pull-right"
                        ng-click="vm.agree(false)">
                    Disagree
                </button>
            </div>
        </div>
    </div>
</md-dialog>
