<div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Join tables</h4>
        </div>
        <div class="modal-body">
            <div ng-repeat="(mainKey, popapMainData) in vm.joinPopapMainData">
                <div class="row">
                    <div class="col-xs-12">
                        <label>First tables: </label>
                        <select class="form-control"
                                ng-model="vm.joinDataSet[mainKey].firstTable"
                                ng-options="option as option.tableName for option in popapMainData.firstTable"
                                ng-change="vm.getColumnsJoinTable(vm.joinDataSet[mainKey].firstTable,'first', {{mainKey}});">
                            <option value="" disabled selected>Select your option</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Second table: </label>
                        <select class="form-control"
                                ng-model="vm.joinDataSet[mainKey].secondTable"
                                ng-change="vm.getColumnsJoinTable(vm.joinDataSet[mainKey].secondTable, 'second', {{mainKey}})"
                                ng-options="option.tableName for option in popapMainData.secondTable">
                            <option value="" disabled selected>Select your option</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Join type: </label>
                        <select class="form-control"
                                ng-model="vm.joinDataSet[mainKey].type"
                                ng-options="item as item for item in popapMainData.joinType">
                            <option value="" disabled>Select table joining type</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 columns-join"
                         ng-show="vm.joinDataSet[mainKey].showJoinCollums">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li
                                        style="list-style: none"
                                        ng-repeat="row in vm.joinPopapMainData[mainKey].fieldsData">
                                    <div
                                            class="select-div"
                                            ng-hide="$index === 0">
                                        <select class="form-control"
                                                ng-model="row.type"
                                                style="width: 100px; margin: 20px auto">
                                            <option value="AND" selected>AND</option>
                                            <option value="OR">OR</option>
                                        </select>
                                    </div>
                                    <div class="list-group-item"
                                         ng-class="row.checked ? 'active' : ''"
                                         style="width: 500px;">

                                        <h4 class="row">
                                            <input
                                                    ng-click="vm.changeJoinColumn(mainKey,$index,row.checked)"
                                                    type="checkbox" class="col-sm-1" ng-model="row.checked">
                                            <span class="label label-default col-sm-5">{{row.joinColumn}}</span>
                                            <i class="fa fa-angle-double-right col-sm-1" aria-hidden="true"></i>

                                            <span
                                                    class="label label-default col-sm-5"
                                                    style="margin-right: 2px">{{row.inverseJoinColumn}}</span>
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" ng-click="vm.addNewJoin()" class="btn btn-default pull-left" ng-if="">Another one</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button"
                    ng-disabled="vm.joinDataSet[0].firstTable === null ||
                    vm.joinDataSet[0].selectColumns.length === 0 ||
                    vm.joinDataSet[0].secondTable === null ||
                    vm.joinDataSet[0].type === null"
                    class="btn btn-primary" ng-click="vm.openJoinTablesSettingPopup()">
                Next
            </button>
        </div>

    </div>
</div>