md-dialog.create-idea {
  max-width: 400px;
  min-width: 200px;
  width: 400px;
  max-height: 100%;
  min-height: 20%;
}

.create-idea {
  .char-count{
    margin-bottom: 10px;
  }
  select,textarea {
    margin-bottom:10px;
  }
  label {
    font-size:14px;
  }
}