<md-dialog class="delete-popup">
        <div class="popup-box">
            <form name="vm.form" novalidate>
                <!--header ---------------------------------------------->
                <div class="popup-box__header">
                    <div class="popup-box__header-title">
                        Remove idea
                    </div>
                    <span class="popup-box__header-close">
                         <i ng-click="vm.close()"
                            class="glyphicon glyphicon-remove">
                         </i>
                    </span>
                </div>
                <!--content --------------------------------------------->
                <div class="popup-box__divider"></div>
                <div class="popup-box__content">
                    <span class="delete-modal__text">Are you sure you want to remove this idea?</span>
                </div>
                <!--control ---------------------------------------------->
                <div class="popup-box__control clearfix">
                    <button ng-click="vm.remove()" class="default-button inline-btn pull-right">Yes</button>
                    <button ng-click="vm.close()" class="default-button inline-btn pull-right">No</button>
                </div>
            </form>
        </div>
</md-dialog>
