<div class="admin-edit-client" style="max-width:320px">

    <md-dialog flex="100">
        <div class=" pop-up-box">
            <form name="vm.form" novalidate ng-cloak>
                <div>
                    <div>
                        <div>
                            <span class="cancel-icon a" aria-label="Close" ng-click="vm.close()"><img
                                    src="content/images/cancel-icon.png" alt=""></span>
                        </div>
                    </div>

                    <div>{{vm.qwe}}</div>
                    <!--<div>Crop Image and Upload</div>-->
                    <!--<button ngf-select ng-model="vm.file" accept="image/*">-->
                        <!--Select Picture</button>-->
                    <!--<div ngf-drop ng-model="vm.file" ngf-pattern="image/*"-->
                         <!--class="cropArea">-->
                        <!--<img-crop image="vm.file | ngfDataUrl"-->
                                  <!--result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''">-->
                        <!--</img-crop>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img ng-src="{{vm.croppedDataUrl}}" />-->
                    <!--</div>-->
                    <!--<button ng-click="upload(vm.croppedDataUrl, picFile.name)">Submit</button>-->

                    <!--<span class="progress" ng-show="progress >= 0">-->
          <!--<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>-->
        <!--</span>-->
                    <!--<span ng-show="result">Upload Successful</span>-->
                    <!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->


                    <form name="myForm">
                        <div>Crop Image and Upload</div>
                        <button ngf-select ng-model="picFile" accept="image/*">
                            Select Picture</button>
                        <!--<div ngf-drop ng-model="picFile" ngf-pattern="image/*"-->
                             <!--class="cropArea">-->
                            <img-crop image="picFile  | ngfDataUrl"
                                      result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                            </img-crop>
                        <!--</div>-->
                        <div>
                            <img ng-src="{{croppedDataUrl}}" />
                        </div>
                        <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>

                        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
                        <span ng-show="result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </form>



                <button ng-click="vm.remove()" class="reply-user">Yes</button>
                <button ng-click="vm.close()" class="reply-user">No</button>
            </form>
        </div>

</div>
</md-dialog>


</div>